*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    
}
html,body{
    display: grid;
    height: 100%;
    place-items: centre;
    background: #000;

}
/* .wrapper{
    height: 100px;
    width: 360px;
    background: linear-gradient(135deg, #14ffe9,#ffeb3b,#ff00e0);
    border-radius: 10px;
} */
.display{
    position: absolute;
    top: 50%;
    /* opacity: 0; */
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999;
    background: #000;
    height: 85px;
    width: 345px;
    border-radius: 6px;

    text-align: center;

}
.display #time{
    line-height: 85px;
    color: #fff;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    background: linear-gradient(135deg, #14ffe9,#ffeb3b,#ff00e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate 1.5s linear infinite;

}
@keyframes animate{
    100%{
        filter: hue-rotate(360deg);
    }

}